<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="icon" href="../icons/favicon.png" type="image/png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEO - Dashboard de Produção</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #c7c7c7;
            margin: 0;
            padding: 10px;
            color: #333;
        }
        .dashboard {
            display: flex;
            gap: 0;
            flex-wrap: wrap;
        }
          .table-container {
            background-color: #504f4f;
            flex: 1;
            min-width: 300px;
            border: 3px solid black;
            overflow: hidden; /* Adicionado para evitar vazamento de bordas */
        }
          table {
            width: 100%;
            border-collapse: collapse;
            border-spacing: 0;
        }
        th, td {
            background-color: #504f4f;
            padding: 21px;
            text-align: left;
            color: Black;
            border: none; /* Removido as bordas individuais das células */
        }
        th {
            background-color: #494949; 
            color: yellow;
        }
        .yellow-bg { background-color: #504f4f; color: rgb(250, 234, 9); }
        .red-bg { background-color: #c50619; color: black;}
        .gray-bg { background-color: #504f4f; color: black; }
        .gray-apr { background-color: #504f4f; color: yellow; }
        .input-container {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            margin-bottom: 20px;
        }
        .input-group {
            display: flex;
            flex-direction: column;
        }
        input {
            width: 100px;
            padding: 8px;
            border: 1px solid #ddd;
        }
        button {
            padding: 10px 20px;
            background-color: #4CAF50;
            color: white;
            border: none;
            cursor: pointer;
            font-size: 16px;
        }
        button:hover {
            background-color: #49a04c;
        }
        h2 {
            margin-top: 0;
            color: #49a04c;
        }
       .table-container:nth-child(2) td {
            padding: 6px;
        }
        .destaque-cell {
            border: 1px solid yellow;
            color: yellow;
            font-weight: bold;
        }
        .imparhora-cell{
            background-color: #5f5f5f;
            color: black;
        }
    </style>
</head>
<body>
    <h2><span id="valor24"></span></h2>
    <div class="input-container">
        <div class="input-group">
            <label for="periodo">Período:</label>
            <input type="text" id="periodo" placeholder="Período">
        </div>
        <div class="input-group">
            <label for="produto">Produto:</label>
            <input type="text" id="produto" placeholder="Produto">
        </div>
        <div class="input-group">
            <label for="linha">Linha:</label>
            <input type="text" id="linha" placeholder="Linha">
        </div>
    </div>
    <div class="variable-selector">
        <label for="variableSelect">Selecione a celula:</label>
        <select id="variableSelect">
            <option value="6"> Hora 6</option>
            <option value="7"> Hora 7</option>
            <option value="8"> Hora 8</option>
            <option value="9"> Hora 9</option>
            <option value="10">Hora 10</option>
            <option value="11">Hora 11</option>
            <option value="12">Hora 12</option>
            <option value="13">Hora 13</option>
            <option value="14">Hora 14</option>
            <option value="15">Hora 15</option>
            <option value="16">Planejado X Hora</option>
            <option value="17">Planejado X Turno</option>
            <option value="18">Expectativa X Hora</option>
            <option value="19">Expectativa X Turno</option>
            <option value="20">Produzido X Hora</option>
            <option value="21">Produzido X Turno</option>
            <option value="22">Reprovada X Hora</option>
            <option value="23">Reprovada X Turno</option>
        </select>
        <input type="number" id="variableValue" placeholder="Novo valor">
        <button onclick="atualizarVariavel()">Atualizar dados</button>
    </div>

    <div class="dashboard">
        <div class="table-container">
            <table>
                <tr>
                    <th colspan="3">Periodo: <span id="periodoSpan"></span></th>
                </tr>
                <tr>
                    <td colspan="3" class="destaque-cell">Produto: <span id="produtoSpan"></span></td>
                </tr>
                <tr>
                    <td class="yellow-bg">Planejada</td>
                    <td class="red-bg"><span id="valor16"></span></td>
                    <td class="gray-bg"><span id="valor17"></span></td>
                </tr>
                <tr>
                    <td class="yellow-bg">Expectativa</td>
                    <td class="red-bg"><span id="valor18"></span></td>
                    <td class="gray-bg"><span id="valor19"></span></td>
                </tr>
                <tr>
                    <td class="yellow-bg">Produzidas</td>
                    <td class="red-bg"><span id="valor20"></span></td>
                    <td class="gray-bg"><span id="valor21"></span></td>
                </tr>
                <tr>
                    <td class="yellow-bg">Reprovadas</td>
                    <td class="red-bg"><span id="valor22"></span></td>
                    <td class="gray-bg"><span id="valor23"></span></td>
                </tr>
                <tr>
                    <td class="gray-bg"> </td>
                    <td class="gray-bg">Hora</td>
                    <td class="gray-bg">Turno</td>
                </tr>
            </table>
        </div>

        <div class="table-container">
            <table>
                <tr>
                    <th colspan="2">Linha: <span id="linhaSpan"></span></th>
                </tr>
                <tr>
                    <td colspan="2" class="destaque-cell">Hora X Hora</td>
                </tr>
                <tr>
                    <td colspan="2" class="destaque-cell">Hora Produção</td>
                </tr>
                <tr><td>6:00</td><td><span id="valor6"></span></td></tr>
                <tr><td class="imparhora-cell">7:00</td><td class="imparhora-cell"><span id="valor7"></span></td></tr>
                <tr><td>8:00</td><td><span id="valor8"></span></td></tr>
                <tr><td class="imparhora-cell">9:00</td><td class="imparhora-cell"><span id="valor9"></span></td></tr>
                <tr><td>10:00</td><td><span id="valor10"></span></td></tr>
                <tr><td class="imparhora-cell">11:00</td><td class="imparhora-cell"><span id="valor11"></span></td></tr>
                <tr><td>12:00</td><td><span id="valor12"></span></td></tr>
                <tr><td class="imparhora-cell">13:00</td><td class="imparhora-cell"><span id="valor13"></span></td></tr>
                <tr><td>14:00</td><td><span id="valor14"></span></td></tr>
                <tr><td class="imparhora-cell">15:00</td><td class="imparhora-cell"><span id="valor15"></span></td></tr>
            </table>
        </div>
    </div>
</body>
</html>


    <script>
        const valores = {
            6: 0, 7: 0, 8: 0, 9: 0, 10: 0,
            11: 0, 12: 0, 13: 0, 14: 0, 15: 0,
            16: 0, 17: 0, 18: 0, 19: 0, 20: 0,
            21: 0, 22: 0, 23: 0, 24:"Produção"
        };

        function atualizarVariavel() {
            const variableSelect = document.getElementById('variableSelect');
            const variableValue = document.getElementById('variableValue');
            const selectedVariable = variableSelect.value;
            const newValue = parseInt(variableValue.value);

            if (!isNaN(newValue)) {
                valores[selectedVariable] = newValue;
                atualizarValores();

            } else {
                alert('Por favor, insira um valor numérico válido.');
            }
        }

        function atualizarValores() {
            for (let i = 6; i <= 24; i++) {
                const span = document.getElementById(`valor${i}`);
                if (span) {
                    span.textContent = valores[i];
                }
            }

            document.getElementById('periodoSpan').textContent = document.getElementById('periodo').value;
            document.getElementById('produtoSpan').textContent = document.getElementById('produto').value;
            document.getElementById('linhaSpan').textContent = document.getElementById('linha').value;
        }

        window.onload = function() {
            atualizarValores();
        };
    </script>
</body>
</html>